<span data-ng-controller="CourseInfoCtrl">
<div class="row" style="height:95%">
    <div class="col-md-6">
        <div class="row">
            <h6 class="header">{{course.name}}</h6>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Category:</h4>
            </div>
            <div class="col-md-9">
                {{course.category.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Teachers:</h4>
            </div>
            <div class="col-md-9">
                <span ng-repeat="teacher in course.teachers">
                    {{teacher.FullName.join(', ')}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Time:</h4>
            </div>
            <div class="col-md-9">
                {{course.begin_date}} - {{course.end_date}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Length:</h4>
            </div>
            <div class="col-md-9">
                {{course.credits}} hrs
            </div>
        </div>



    </div>

    <div class="col-md-6" style="height: 50%">
        <div id = "map"> </div>

    </div>
</div>

<button ng-if="course.author == User.id" ng-click="change_course()">
    Change
</button>

<button ng-click="go_to_main()">
    Go back to categories
</button>
</span>