<span data-ng-controller="CourseInfoCtrl">
<div class="row" style="height:95%">
    <div class="col-md-6 col-sm-6">
        <div class="row">
            <h6 class="header">{{ isUa ? course.name_ua : course.name }}</h6>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>{{ 'Category' | translate }}:</h4>
            </div>
            <div class="col-md-9">
                {{ isUa ? course.category.name_ua : course.category.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="Author"></h4>
            </div>
            <div class="col-md-9">
                {{course.author.first_name}} {{course.author.middle_name}} {{course.author.last_name}}
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-3">
                <h4>Teachers:</h4>
            </div>
            <div class="col-md-9">
                <span ng-repeat="teacher in course.teachers">
                    {{teacher.FullName.join(', ')}}
                </span>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-3">
                <h4>{{ 'When' | translate }}:</h4>
            </div>
            <div class="col-md-9">
                {{course.begin_date}} - {{course.end_date}} <br/> ({{course.status}})
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="Length"></h4>
            </div>
            <div class="col-md-9">
                {{course.credits}} {{ 'hrs' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="Price"></h4>
            </div>
            <div class="col-md-9">
                {{course.price}} {{ 'UAH' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>{{ 'Where' | translate }}:</h4>
            </div>
            <div class="col-md-9">
                {{ 'Pavilion' | translate }} {{ isUa ? course.location.name_ua : course.location.name }},
                {{ 'auditorium' | translate }} {{course.classroom}} <br/>
                ({{ isUa ? course.location.address_ua : course.location.address }})
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="NumbersOfListeners"></h4>
            </div>
            <div class="col-md-9">
                {{course.users.length}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="AboutCourses"></h4>
            </div>
            <div class="col-md-9">
                {{course.info}}
            </div>
        </div>


    </div>

    <div class="col-md-6 col-sm-6" style="height: 99%">
        <div id = "map"> </div>
        <button style='margin-top:0.3em' ng-if="course.author.id == User.id" ng-click="change_course()">
            {{ 'ChangeProfileData' | translate }}
        </button>
    </div>
</div>

<div id = "enterBtn"></div>

<!--<button ng-click="go_to_main()">
    Go back to categories
</button>-->
</span>