<span data-ng-controller="CourseInfoCtrl">
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h6>{{course.name}}</h6>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Category:</h6>
            </div>
            <div class="col-md-9">
                {{course.subcategory}} ({{course.category}})
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Teachers:</h6>
            </div>
            <div class="col-md-9">
                <span ng-repeat="teacher in course.teachers">
                    {{teacher.FullName.join(', ')}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Time:</h6>
            </div>
            <div class="col-md-9">
                {{course.TimeStart}} - {{course.TimeEnd}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Length:</h6>
            </div>
            <div class="col-md-9">
                {{course.credits}} hrs
            </div>
        </div>



    </div>

    <div class="col-md-6" style="height: 50%">
        <div id = "map"> </div>
    </div>
</div>

<button ng-click="save_course()">
    Save
</button>

<button ng-click="go_back()">
    Cancel
</button>
</span>