<div class="row">
    <div class="col-md-8">
        <div class="row">
            <h6>{{course.Name}}</h6>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h6>Category:</h6>
            </div>
            <div class="col-md-10">
                {{course.Subcategory}} ({{course.Category}})
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h6>Teachers:</h6>
            </div>
            <div class="col-md-10">
                <span ng-repeat="teacher in course.teachers">
                    {{teacher.FullName.join(', ')}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h6>Time:</h6>
            </div>
            <div class="col-md-10">
                {{course.TimeStart}} - {{course.TimeEnd}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h6>Length:</h6>
            </div>
            <div class="col-md-10">
                {{course.Hours}} hrs
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <h6>Tags:</h6>
            </div>
            <div class="col-md-10">
                <span ng-repeat="tag in course.tags">
                    {{tag.Name.join(', ')}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id = "map"> </div>
    </div>
</div>

<button ng-click="go_to_main()">
    Go back to categories
</button>