<div class="row">
    <div class="col-md-6" style="height: 70%">
        <div id = "map"> </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            Courses <br/>
            <input ng-model="findCourses">
        </div>
        <div style="height:100%; overflow: scroll">
            <div class="row" style="cursor: pointer;" ng-repeat="course in courses | filter:findCourses"
                 ng-mouseover="bounce_marker(course.coordId)" ng-mouseout="bounce_marker(course.coordId)">
                {{course.name}}
            </div>
        </div>
    </div>

    <button ng-click="go_to_filtering()">
        Advanced search
    </button>
</div>