<span data-ng-controller="UserCtrl">
<div class="row" style="height: 95%">
    <div class="col-md-4"  style="height: 100%">
        <img src="user.avatar" class="avatar"> <br/>
        Change to: <input type="file" id="file" name="file"/>
    </div>

    <div class="col-md-8">
        <form class="cd-form">
        <div class="row">
            <div class="col-md-3">
                <h4>Name:</h4>
            </div>
            <div class="col-md-9">
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.first_name"  placeholder="First name">
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.middle_name"  placeholder="Middle name"><br/>
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.last_name"  placeholder="Last name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Category:</h4>
            </div>
            <div class="col-md-9">
                {{user.category}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>About me:</h4>
            </div>
            <div class="col-md-9">
                <p class="fieldset">
                    <textarea class="full-width has-padding-user has-border"  rows="4" cols="50" ng-model="user.personal"  placeholder="Personal information"></textarea>
                </p>
            </div>
        </div>
        </form>
    </div>
</div>

<button data-ng-click="save_user_data(user)" >Save</button>
</span>