<span data-ng-controller="UserCtrl">
<div class="row" style="height: 100%">
    <div class="col-md-4"  style="height: 100%">
        <img src="user.Avatar" class="avatar"> <br/>
        Change to: <input type="file" id="file" name="file"/>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <h6>Name:</h6>
            </div>
            <div class="col-md-9">
                <input type="text" ng-model="user.first_name"><br/>
                <input type="text" ng-model="user.second_name"><br/>
                <input type="text" ng-model="user.last_name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>E-mail (hidden):</h6>
            </div>
            <div class="col-md-9">
                <input type="text" ng-model="user.email">
            </div>
         </div>
        <div class="row">
            <div class="col-md-3">
                <h6>Category:</h6>
            </div>
            <div class="col-md-9">
                {{user.Status}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h6>About me:</h6>
            </div>
            <div class="col-md-9">
                <input type="text" ng-model="user.About">
            </div>
        </div>
    </div>
</div>

<button data-ng-click="save_user_data(user)" >Save</button>
</span>