<span data-ng-controller="UserCtrl">
<div class="row" style="height: 50%">
    <div class="col-md-4 col-sm-4" style="height: 100%">
        <img src="{{user.avatar_url}}" class="avatar">
    </div>

    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-3">
                <h4 translate="Name"></h4>
            </div>
            <div class="col-md-9">
                {{user.first_name}} {{user.middle_name}} {{user.last_name}}
            </div>
        </div>
        <span ng-class="(user.id == User.id) ? '' : 'hidden'">
            <div class="row">
                <div class="col-md-3">
                    <h4 translate="Email"></h4>
                </div>
                <div class="col-md-9">
                    {{user.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4 translate="GetAndroid"></h4>
                </div>
                <div class="col-md-9">
                    {{androidLink}}
                </div>
             </div>
        </span>
        <div class="row">
            <div class="col-md-3">
                <h4>{{ 'Category' | translate }}:</h4>
            </div>
            <div class="col-md-9">
                {{user.category_name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="About"></h4>
            </div>
            <div class="col-md-9">
                {{user.personal}}
            </div>
        </div>
    </div>
</div>
<div class="row" style="height:43%">
    <div class="col-md-6 col-sm-6">
        <h6 translate="EndedCourses"></h6>
        <div class="col-md-3" ng-repeat="course in user.Courses | limitTo: 5 | filter:{status:'finished'}">
            {{ isUa ? course.name_ua : course.name }}
        </div>
        <button data-toggle="modal" data-target="#modal-end-courses">{{ 'ShowAll' | translate }}</button>
    </div>
    <div class="col-md-6 col-sm-6">
        <h6 translate="CoursesForNow"></h6>
        <div class="col-md-3" ng-repeat="course in user.Courses | limitTo: 5 | filter:{status:'active'}">
            {{ isUa ? course.name_ua : course.name }}
        </div>
        <button data-toggle="modal" data-target="#modal-cont-courses">{{ 'ShowAll' | translate }}</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <button ng-click="change_user_data(user.id)" ng-class="(user.id == User.id) ? '' : 'hidden'">
            {{ 'ChangeProfileData' | translate }}
        </button>
    </div>
    <div class="col-md-6 col-sm-6">
        <button ng-click="logout()" ng-class="(user.id == User.id) ? '' : 'hidden'" style="float:right;">
            {{ 'Logout' | translate }}
        </button>
    </div>
</div>
</span>

<!-- Modal windows for all courses -->
<div class="modal fade" id="modal-cont-courses" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" translate="CoursesForNow"></h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="course in user.Courses | filter:{status:'continuing'}">
                    {{ isUa ? course.name_ua : course.name }}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-end-courses" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" translate="EndedCourses"></h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="course in user.Courses | filter:{status:'ended'}">
                    {{ isUa ? course.name_ua : course.name }}
                </div>
            </div>
        </div>

    </div>
</div>