<span data-ng-controller="UserCtrl">
<div class="row" style="height: 95%">
    <div class="col-md-4 col-sm-4"  style="height: 100%">
        <img src="{{user.avatar_url}}" class="avatar"> <br/>
        {{ 'ChangeTo' | translate }} <input type="file" id="file" name="file"/>
    </div>

    <div class="col-md-8 col-sm-8">
        <form class="cd-form">
        <div class="row">
            <div class="col-md-3">
                <h4 translate="Name"></h4>
            </div>
            <div class="col-md-9">
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.first_name"  placeholder="First name" required>
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.middle_name"  placeholder="Middle name" required><br/>
                    <input type="text" class="full-width has-padding-user has-border" ng-model="user.last_name"  placeholder="Last name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>{{ 'Category' | translate }}:</h4>
            </div>
            <div class="col-md-9">
                <select name="mySelect" class="mySelect"
                        ng-options="option.name for option in user_categories.availableOptions track by option.id"
                        ng-model="user_categories.selectedOption"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 translate="About"></h4>
            </div>
            <div class="col-md-9">
                <p class="fieldset">
                    <textarea class="full-width has-padding-user has-border"  rows="4" cols="50" ng-model="user.personal"  placeholder="Personal information"></textarea>
                </p>
            </div>
        </div>
        </form>
    </div>
</div>

<button data-ng-click="save_user_data(user)" class="col-md-1 col-sm-2">{{ 'Save' | translate }}</button>
</span>